@import 'tailwindcss';

@layer base {
  :root {
    font-family: 'Noto Serif JP', 'Yu Mincho', 'Hiragino Mincho ProN', serif;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-width: 320px;
  }

  * {
    box-sizing: border-box;
  }

  input[type='range'] {
    accent-color: #292524;
  }
}
